<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
</nav>
<div style="text-align:center">
  <h1>
    
  </h1>
</div>
<div class="container" style="background-color:#ff5555;padding-top:15px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <input class="form-control" type="text" [(ngModel)]="this.pokemon" placeholder="Pokemon Name..." [ngbTypeahead]="search" style="float:left;" /> 
    <button class="btn btn-success" (click)="this.change_poke(this.pokemon)" style="float:right;"><span class="fa fa-search "> </span> Search</button>
  </div>
  
  <hr style="margin-top:60px;border-top: 1px solid rgba(255,255,255,.8);">
  <div *ngIf="this.poke" class="row" style="background-color:#ffaaaa;padding-bottom:15px">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color: #fafafa;
    border-bottom: 1px solid #ffeeee;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #ffeeee;
    padding-bottom: 15px;">
        <img src="{{this.pokemon_url}}" style="height:300px;margin-bottom:15px;" />
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span [style.background-color]="getStyle(item)" *ngFor="let item of this.poke.types" style=" padding:10px;margin:5px;border-radius:100px;width:100px;display:inline-block;">{{item}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p style="color: #ffffff;
        font-size: 24px;
        font-family: sans-serif;">
          <span class="header">{{this.poke.name}}</span>
        </p>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Stats</p>
        <span>Total: {{this.poke.stats.total}}</span>
        <br><span>HP: {{this.poke.stats.hp}}</span>
        <br><span>Attack: {{this.poke.stats.attack}}</span>
        <br><span>Defense: {{this.poke.stats.defense}}</span>
        <br><span>Sp. Attack: {{this.poke.stats.spAttack}}</span>
        <br><span>Sp. Defense: {{this.poke.stats.spDefense}}</span>
        <br><span>Speed: {{this.poke.stats.speed}}</span>
      </div>
    </div>
    <ngb-progressbar type="success" [value]="this.search_progress" [striped]="true" [animated]="true" style="width:100%;text-align:center;" *ngIf="this.show_progress"  > {{this.search_progress}}% </ngb-progressbar>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well " style="text-align:center;">
      POKEMON BLURBS
      
    </div>
    
  </div>
  <div *ngIf="this.error" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <p style="color:#550000">
      {{this.error}}
    </p>
  </div>
</div>